Edit <%= @club.name %>

<%= form_for @club do |f|  %>
  <%= f.label :name, "Club Name" %>
  <%= f.text_field :name %>

  <%= f.label :picture, "Club Logo" %>
  <%= f.text_field :picture %>

  <%= f.label :description, "Mission Statement" %>
  <%= f.text_field :description %>

  <%= f.file_field :images, multiple: true %><br>

  <%= f.submit "Save" %>

<% end %>
<%= @club.images.each do |image| %>
  <div style="height:100px; width:100px;">
    <%= image_tag image %>
  </div>
<% end %>

<%= button_to 'Delete Images', controller:"clubs", action: "delete_images", id: @club %>
